/* responsive css */
@media(max-width: 1206px){
    .single-testi,
    .owl-dots{
        padding-left: 150px;
    }
}


@media(max-width:1199px){
    .logo_sec a img{
        max-width: 200px;
    }
    .header_outer{
        height: 96px;
    }
    .heaeder_top_bar,
    .desktop_menu{
        display: none;
    }
    .logo_sec{
        left: 15px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .mobile_menu{
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .box-inner{
        padding: 40px;
    }
    .view-btn{
        bottom: -10px;
        left: -18px;
    }
    .hotels-head{
        padding: 40px 50px;
        top: -70px;
    }
    .hotel-logo img{
        max-width: 150px;
    }
    .hotel-name h4{
        letter-spacing: 1px;
        font-size: 1rem;
    }
    .hotel-btn{
        padding: 25px 40px;
    }
    .dest-img img{
        max-width: 470px;
    }
}

@media(max-width:1024px){
    .testi-box{
        width: 60%;
    }
    .testi-img{
        width: 35%;
    }
    .client-para p{
        font-size: 15px;
    }
}

@media(max-width: 991px){
    .form-box{
        flex-direction: column;
        height: 180px;
    }
    .form-btn{
        margin: 18px 0;
    }
    .enq-form-outer{
        margin-top: 10px;
    }
    .about-content p{
        margin-bottom: 30px;
    }
    .view-btn{
        left: 50%;
        transform: translate(-50%,-50%);
        bottom: -50px;
    }
    .box-inner{
        margin-left: 0;
        max-width: 450px;
    }
    .about-area{
        padding: 60px 0 200px;
    }
    .ft-icon img{
        max-width: 100%;
    }
    .ft-content h2{
        font-size: 1.5rem;
    }
    .dest-img img{
        max-width: 100%;
        right: -91px;
        margin-top: -45px;
    }
    .dest-more-btn{
        top: 0;
    }
    .destination-area{
        padding: 100px 0 120px;
    }
    .border-line991{
        border-right: none;
    }
    .reserve-bx-last{
        justify-content: center;
        margin-top: 25px;
    }
    .other-fac{
        margin-top: 40px;
    }
    .contact-address{
        margin-bottom: 100px;
    }
}

@media(max-width: 767px){
    .property-box{
        padding-left: 50px;
        padding-right: 50px;
    }
    .form-box{
        height: 400px;
    }
    .enq-form-outer{
        margin-top: 15px;
    }
    .prop-box, .prop-box2{
        padding-top: 10px;
        padding-bottom: 2px;
    }
    .hotels-head{
        width: 80%;
    }
    .feature-area{
        height: 1000px;
    }
    .testi-img{
        display: none;
    }
    .testi-box{
        width: 100%;
        padding: 50px 0;
    }
    .client-para{
        padding: 0 50px;
    }
    .single-testi, .owl-dots{
        padding-left: 0;
    }
    .reserve-bx-one{
        justify-content: center;
    }
    .border-line{
        border-right: none;
    }
    .reserve-bx{
        min-height: 50px;
    }
    .broad-about-img{
        text-align: center;
    }
    .broad-about-content{
        padding: 0;
    }
    .hotel-ft-box{
        flex-direction: column;
    }
    .fac-mainheader{
        font-size: 120px;
    }
    .comp-fac{
        margin-bottom: 40px;
    }
    .fac-img img{
        width: 100%;
        height: 300px;
    }
    .booknow-img{
        padding: 30px 50px 50px;
    }
    .booknow-btns .booknow-btn1,
    .booknow-btns .booknow-btn2{
        padding: 12px 35px;
        font-size: 16px;
    }
    .booknow-img h3{
        font-size: 1.2rem;
    }
    .fac-mainheader.name{
        font-size: 80px;
    }
}

@media(max-width: 575px){
    .dest-img img{
        right: 0;
    }
    .feature-area {
        height: 1300px;
    }
    .about-content h1::before{
        font-size: 120px;
        top: -90px;
    }
    .hotel-logo .hotel-logo-img{
        max-width: 60px;
    }
    .hotel-logo img{
        max-width: 100px;
    }
    .hotel-name h4{
        letter-spacing: 0px;
        font-size: 1rem;
        text-transform: unset;
    }
    .hotel-btn{
        padding: 20px 35px;
    }
    .hotel-btn a{
        font-size: 15px;
    }
    .overlay-banner{
        display: block;
        background-color: #00808057;
        opacity: 0.9;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .logo_sec a img {
        max-width: 130px;
    }
    .logo_sec {
        padding: 20px 20px 25px;
    }
    .header_outer{
        height: 85px;
    }
    .mobile_menu{
        top: 25px;
    }
    .banner-head h1{
        font-size: 40px;
    }
    .banner-btn a{
        width: 60%;
        padding: 15px 25px;
        /* margin: 0 auto; */
        /* max-width: 180px; */
    }
    .banner-slider,
    .banner-ct{
        height: 420px;
    }
    .form-box {
        height: 410px;
        padding-bottom: 10px;
    }
    .view-btn{
        bottom: -100px;
    }
    .btn-style{
        padding: 20px 40px;
        font-size: 18px;
    }
    .about-area{
        padding: 60px 0 260px;
    }
    .hotels-head h1{
        padding-left: 0;
    }
    .feature-box{
        text-align: center;
    }
    .ft-content p{
        max-width: inherit;
        margin-bottom: 30px;
    }
    .ft-btn {
        margin: 60px 0;
    }
    .ft-btn a{
        font-size: 20px;
    }
    .dest-box{
        padding: 40px 40px;
    }
    .dest-img img{
        margin-top: 30px;
    }
    .dest-more-btn a{
        padding: 25px 60px;
        font-size: 20px;
    }
    .form-area {
        margin-top: -30px;
    }
    .banner-head{
        margin-top: 20px;
    }
    .about-content h1::before{
        font-size: 100px;
        top: -70px;
    }
    .about-content h1{
        font-size: 2.5rem;
    }
    .form-btn{
        padding: 25px 45px;
        height: 0
    }
    .form-btn a{
        font-size: 18px;
    }
    .header_outer{
        height: 75px;
    }
    .logo_sec{
        padding: 15px 15px 20px;
    }
    .mobile_menu {
        top: 20px;
    }
    .apply_now{
        margin-right: 10px;
        padding: 7px 29px;
        font-size: 12px;
    }
    .view-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        left: unset;
        transform: unset;
        bottom: -110px;
    }
    .count h1{
        font-size: 2.4rem;
    }
    .count span{
        font-size: 2.4rem;
    }
    .hotels-head h1{
        font-size: 2rem;
    }
    .hotel-logo{
        padding-left: 10px;
    }
    .hotel-btn {
        padding: 16px 30px;
    }
    .hotel-btn a {
        font-size: 15px;
    }
    .hotel-name h4{
        font-size: 0.875rem;
        margin-left: 20px;
    }
    .tt-menu-toggle{
        width: 25px;
    }
    .apply_now{
        padding: 7px 22px;
    }
    .property-box {
        padding-left: 40px;
        padding-right: 40px;
    }
    .form-btn {
        padding: 25px 50px;
    }
    .about-content h1::before {
        font-size: 90px;
        top: -60px;
    }
    .count h1 {
        font-size: 2.2rem;
    }
    .count span {
        font-size: 2.2rem;
    }
    .hotels-area {
        padding: 120px 0 40px;
    }
    .hotel-btn {
        padding: 16px 25px;
    }
    .client-para {
        padding: 0 25px;
    }
    .hover-logo img{
        max-width: 200px;
    }
    .hover-logo2 img{
        max-width: 250px;
    }
    .hover-name h2{
        font-size: 1.6rem;
    }
    .hotel-slider{
        height: 300px;
    }
    .main-img{
        margin-bottom: 20px;
    }
    .side-img li{
        padding: 10px;
    }
    .side-img{
        float: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .side-img li:first-child{
        padding-left: 0;
    }
    .side-img li:last-child{
        margin-bottom: 10px;
        padding-right: 0;
    }
    .fac-mainheader {
        font-size: 70px;
    }
    .booknow-btns{
        display: flex;
        flex-direction: column;
    }
    .booknow-btns .booknow-btn1, 
    .booknow-btns .booknow-btn2{
        padding: 12px 35px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .fac-aminities h2{
        font-size: 1.3rem;
    }
    .broad-about-content p{
        text-align: center;
    }
    .other-fac{
        padding-left: 0;
    }
    .booknow-img {
        padding: 30px 30px 50px;
    }
    .booknow-img h3{
        margin-bottom: 40px;
    }
    .contact-address .address{
        flex-direction: column;
    }
    .fac-mainheader.name{
        font-size: 50px;
    }
    .address-area{
        border-bottom: 1px solid #193d6f;
        border-right: none;
        margin-bottom: 15px;
    }
    .contact-address {
        margin-bottom: 315px;
    }
    .contact-address .address{
        bottom: -280px;
        padding: 15px;
    }
    .contact-address .img{
        height: auto;
    }
    .contact-location{
        height: 350px;
    }
}

@media(max-width:359px){
    .apply_now{
        display: none;
    }
    .mobile_menu {
        top: 25px;
    }
    .tt-menu-toggle {
        width: 30px;
    }
}