/* Custom css */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Playfair+Display:wght@400;500&display=swap');

body {
    color: #292828;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.5px
}

.body_wraper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend Deca', sans-serif;
    color: #193d6f;
}

h1{
    font-size: 2.4rem;
}

p{
    font-family: 'Playfair Display', serif;
    color: #303030;
}

a,
a:hover {
    text-decoration: none;
    outline: none
}

a {
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s
}

img {
    max-width: 100%
}

a {
    color: #193d6f
}

/* header */
.header_outer{
    width: 100%;
    position: relative;
    background: #fff;
    height: 120px;
    /* border-bottom: 1px solid rgba(0,0,0,0.15); */
}

.headerin{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
}

.menudiv{
    width: 100%;
    background: #fff;
}

.for_megamenu{
    position: relative;
}

.heaeder_top_bar{
    width: 100%;
    overflow: hidden;
}

.htop_bar_left{
    position: relative;
    /* padding-right: 100px; */
    border-bottom: 2px solid rgba(0,0,0,0.15);
    width: 70%;
}

.htop_bar_left::before{
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    /* border-bottom: 1px solid rgba(0,0,0,0.15); */
}

.h_contact_bar{
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.h_contact_bar label{
    margin: 0;
    color: #193d6f;
    font-size: 19px;
}

.h_contact_bar label a:hover{
    color: #eba24a;
}

.h_contact_bar label i{
    margin-right: 5px;
}

.htop_bar_right{
    position: relative;
    /* padding-left: 100px; */
    border-bottom: 2px solid rgba(0,0,0,0.15);
    float: right;
    width: 70%;
}

.htop_bar_right::before{
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    /* border-bottom: 1px solid rgba(0,0,0,0.15); */
}

.header_social{
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.htop_bar_right .header_social {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header_social>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_social ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header_social ul li {
    display: inline-block;
    margin-right: 15px;
}

.header_social ul li:last-child{
    margin-right: 0;
}

.header_social ul li a {
    font-size: 25px;
    color: #193d6f;
    padding: 5px 20px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #eba24a;
}

.header_social ul li a:hover{
    border: 1px solid #eba24a;
    background-color: #eba24a;
    transition: all .3s ease;
}

.panel-menu ul li a:hover{
    color: #eba24a !important;
}

.apply_now{
    margin-right: 20px;
    display: inline-block;
    background: #eba24a;
    padding: 7px 35px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    transition: all .3s;
}

.apply_now:hover{
    background-color: #ae722a;
    color: #fff;
    transition: all .3s ;
}

.pos_inherit{
    position: inherit !important;
}

.header_left_part{
    padding-right: 100px;
    float: left;
}

.menu_part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_left_part .menu_part {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.desktop_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.desktop_menu_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.desktop_menu_ul>li {
    display: block;
    color: #333;
    position: relative;
    padding: 10px 10px 16px;
    margin-right: 0px;
}

.desktop_menu_ul>li.arrow_sub{
    margin-right: 10px;
}

@media(min-width: 1200px){
    .desktop_menu_ul>li{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width: 1200px){
    .desktop_menu_ul>li {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.arrow_sub>a:after{
    content: "\f0dd";
    position: absolute;
    right: -10px;
    /* top: -6px; */
    top: 0;
    font-size: 16px;
    font-family: 'FontAwesome';
}

.desktop_menu_ul>li>ul{
    position: absolute;
    left: 0;
    z-index: 91;
    background: #fff;
    /* width: 330px; */
    width: 320px;
    /* padding: 40px 50px; */
    padding: 30px;
    margin-left: -18px;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform-origin: center;
    transform-origin: center;
}

.desktop_menu_ul>li>ul li{
    display: block;
    border-bottom: 1px solid #ddd;
}

.desktop_menu_ul>li>ul li:last-child{
    border-bottom: none;
}

.desktop_menu_ul>li>ul li a{
    color: #193d6f;
    font-size: 19px;
    font-weight: 500;
    display: block;
    line-height: 20px;
    padding: 12px 0;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.desktop_menu_ul>li>ul li a:hover{
    color: #eba24a;
}

.desktop_menu_ul>li:hover>ul{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition-delay: 0.5s !important;
    transition-delay: 0.5s !important;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.desktop_menu_ul>li:first-child {
    padding-left: 0;
}

.desktop_menu_ul>li>a {
    /* text-transform: uppercase; */
    font-size: 19px;
    font-weight: 500;
    /* color: #292828; */
    display: block;
    position: relative;
    z-index: 21;
    padding: 0 5px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}

.desktop_menu_ul>li>a:hover{
    color: #eba24a;
}

.desktop_menu_ul>li:first-child a {
    margin-left: 0;
    padding-left: 0;
}

.header_right_part{
    padding-left: 100px;
    float: right;
}

.logo_sec{
    /* width: 148px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0px;
    z-index: 90;
    background: #193d6f;
    padding: 20px 20px 30px;
}

.logo_sec a {
    display: inline-block;
}

.logo_sec a img {
    max-width: 240px;
}

.mobile_menu {
    display: none;
    margin-left: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    right: 20px;
    top: 30px;
}

/* banner */
.banner-slider{
    position: relative;
    background-image: url(../img/banner/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 760px;
}

.banner-ct{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 760px;
    justify-content: center;
}

.banner-head{
    margin-bottom: 15px;
    margin-top: 100px;
}

.banner-head h1{
    color: #fff;
    font-size: 70px;
    letter-spacing: 2px;
}

.banner-btn a{
    background: #eba24a;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 30px 40px;
    display: block;
    width: 45%;
    opacity: 0.9;
}

.banner-btn a:hover{
    background-color: #ae722a;
    color: #fff;
    transition: all .3s ;
}

.banner-btn a span.explore{
    font-size: 22px;
    letter-spacing: 3px;
}

/* About */
.about-area{
    padding: 60px 0 150px;
    position: relative;
}

.about-content{
    margin-top: 50px;
}

.about-content h1{
    position: relative;
    margin-bottom: 20px;
    font-size: 2.6rem;
}

.about-content h1::before{
    position: absolute;
    content: "About";
    color: #f1eeea;
    font-size: 150px;
    left: 0;
    z-index: -1;
    top: -110px;
}

.about-content p{
    font-size: 20px;
    max-width: 450px;
    color: #303030;
    font-weight: 500;
}

.about-box{
    position: relative;
}

.view-btn{
    position: absolute;
    bottom: 100px;
    left: -15px;
}

.btn-style{
    background: #eba24a;
    padding: 40px 40px;
    color: #fff;
    font-size: 22px;
}

.btn-style:hover{
    background-color: #ae722a;
    color: #fff;
    transition: all .3s ;
}

.box-inner{
    background-color: #193d6f;
    padding: 70px 85px;
    margin-left: 120px;
}

.count{
    border-bottom: 1px solid #eba24a;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.count-border-none{
    border-bottom: 0;
}

.count h1,
.count span{
    color: #eba24a;
    padding: 10px 0;
    font-size: 2.5rem;
    margin: 0;
}

.big-text{
    float: left;
    font-size: 72px;
    font-weight: 500;
    margin-right: 10px;
    line-height: 1;
    color: #303030;
}

/* Our Hotels */
.hotels-area{
    padding: 155px 0 70px;
    background-color: #f7f4ec;
    position: relative;
}

.hotels-head{
    background-color: #193d6f;
    padding: 60px 50px;
    width: 50%;
    position: absolute;
    top: -88px;
    left: 0;
}

.hotels-head h1{
    color: #eba24a;
    padding-left: 130px;
    font-size: 2.6rem;
}

@media(min-width: 1440px){
    .hotels-head h1{
        padding-left: 320px;
    }
}

.hotel-box{
    background-color: #fff;
    margin-bottom: 35px;
    -webkit-transition: 0.3s;
    transition:  0.5s;
    position: relative;
}

.hotel-hover-logo{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background: #fff;
    height: 100%;
    width: 100%;
}

.hotel-box:hover .hotel-hover-logo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    opacity: .9;
    flex-direction: column;
    transition: .5s;
    visibility: visible;
}

.hover-logo img{
    max-width: 300px;
}

.hover-logo2 img{
    max-width: 400px;
}

.hotel-box:hover{
    -webkit-box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    -webkit-transform: translateY(-3px) !important;
    transform: translateY(-3px) !important;
}

.hotel-img img{
    width: 100%;
}

.hotel-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hotel-logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.hotel-logo img{
    max-width: 230px;
}

.hotel-logo .hotel-logo-img{
    max-width: 100px;
}

.hotel-name h4{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-left: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

.hotel-btn{
    display: flex;
    align-items: center;
    padding: 32px 40px;
    background: #eba24a;
}

.hotel-btn:hover{
    background-color: #ae722a;
    color: #fff;
    transition: all .3s ;
}

.hotel-btn a{
    color: #fff;
    font-size: 18px;
}

.hotel-btn a i{
    font-size: 14px;
    font-weight: 400 !important;
}

/* Feature Area */
.feature-area{
    background-image: url(../img/features/feature.jpg);
    height: 700px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.ft-header h1{
    color: #eba24a;
    margin: 70px 0;
    font-weight: 400;
    font-size: 2.5rem;
}

.ft-header h1 span{
    font-weight: 700;
}

.feature-box{
    text-align: left;
}

.ft-content h2, .ft-content p{
    color: #f7f4ec;
}

.ft-content h2{
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.ft-content p{
    font-size: 17px;
    max-width: 250px;
    color: #f7f4eccc;
}

.ft-btn{
    margin: 80px 0;
}

.ft-btn a{
    color: #fff;
    background-color: #eba24a;
    padding: 25px 50px;
    font-size: 22px;
}

.ft-btn a:hover{
    background-color: #ae722a;
    color: #fff;
    transition: all .3s ;
}

/* Destinations Area */
.destination-area{
    padding: 100px 0;
    position: relative;
}

.dest-box{
    position: relative;
    background: #f3f2ed;
    padding: 80px 65px;
}

.dest-head h1{
    color: #102b56;
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.dest-img{
    position: relative;
}

.dest-img img{
    position: relative;
    display: flex;
    right: 75%;
    margin-top: 50px;
    max-width: inherit;
}

.dest-para{
    max-width: 300px;
    margin-bottom: 50px;
}

.dest-para p{
    color: #193d6f;
    font-weight: 500;
}

.dest-btn a{
    border: 1px solid #bdbbb1;
    padding: 10px 25px;
    font-size: 18px;
}

.dest-btn a:hover{
    border: 1px solid #eba24a;
    background-color: #eba24a;
    color: #fff;
    transition: all .3s ease;
}

.dest-more-btn{
    position: absolute;
    left: 49%;
    transform: translate(-50%,-50%);
    top: -30px;
}

.dest-more-btn a{
    background: #eba24a;
    padding: 40px 70px;
    color: #fff;
    font-size: 22px;
}

.dest-more-btn a:hover{
    background-color: #ae722a;
    color: #fff;
    transition: all .3s ;
}

/* Testimonials */
.testi-area{
    padding-bottom: 100px;
}

.testi-mainbox{
    width: 100%;
    display: flex;
}

.testi-box{
    width: 55%;
    background-color: #eba24a;
    text-align: center;
    display: flex;
    align-items: center;
}

.single-testi{
    /* max-width: 545px; */
    max-width: 780px;
    padding: 20px;
    margin: 0 auto;
    padding-left: 250px;
}

.client-name{
    margin-bottom: 25px;
}

.client-name h3 , 
.client-name h4{
    font-family: 'Playfair Display', serif;
    color: #fff;
    letter-spacing: 3px;
}

.client-name h4{
    text-transform: uppercase;
    font-size: 1.2rem;
}

.client-para p{
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
}

.testi-img{
    width: 30%;
}

.owl-dots{
    display: block;
    padding-left: 250px;
}

.owl-dots button{
    background: #fff !important;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 8px;
    outline: none;
}

.owl-dots button.active{
    background: #ddd !important;
}

/* Footer area */
.footer-area{
    background-color: #193d6f;
    padding: 50px 0 0
}

.footer-logo{
    position: relative;
    z-index: 1;
    margin-bottom: 35px;
}

.footer-logo::before,
.footer-logo::after{
    position: absolute;
    content: "";
    border: 1px solid #eba24a3d;
    width: 100%;
    height: 1px;
    bottom: 7px;
    z-index: -1;
}

.footer-logo::before{
    left: 0;
}

.footer-logo::after{
    right: 0;
}

.footer-logo img{
    max-width: 250px;
    position: relative;
    background-color: #193d6f;
    padding-left: 25px;
    padding-right: 25px;
}

.reserve-bx h1,
.reserve-bx a{
    color: #fff;
}

.reserve-bx a:hover{
    color: #eba24a;
}

.reserve-bx h1{
    font-size: 2rem;
    font-weight: 400;
}

.reserve-bx{
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserve-bx a i{
    color: #eba24a;
}

.border-line{
    border-right: 1px solid #eba24a;
}

.reserve-bx-one{
    justify-content: flex-start;
}

.border-line-last{
    border-right: transparent;
} 

.reserve-bx-last{
    justify-content: flex-end;
}

.reserve-bx-last a{
    background: #eba24a;
    padding: 10px 40px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
}

.reserve-bx-last a:hover{
    background-color: #ae722a;
    color: #fff;
    transition: all .3s ;
}

.reserve-main-bx{
    border-bottom: 1px solid #eba24a;
    padding-bottom: 25px;
    margin-bottom: 50px;
    align-items: center;
}

.footer-ct{
    margin-bottom: 25px;
}

.footer-ct p{
    color: #a8aeb6;
    font-family: 'Lexend Deca', sans-serif;
}

.copy-right{
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.copy-right p,
.copy-right a{
    color: #a8aeb6;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.copy-right a img{
    max-width: 100px;
}

/* Form box area */
.form-area{
    margin-top: -50px;
}

.form-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #193d6f;
    height: 130px;
}

.form-btn{
    display: flex;
    align-items: center;
    padding: 0 70px;
    background: #eba24a;
    height: 130px;
}

.form-btn:hover{
    background-color: #ae722a;
    color: #fff;
    transition: all .3s ;
}

.form-btn a{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.enq-form-outer{
    width: 100%;
}

form{
    display: flex;
}

.prop-box label,
.prop-box2 label{
    color: #f7f4ec;
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 17px;
}

.date_icon{
    background: rgba(255,255,255) url(../img/calendar.svg) no-repeat center right 15px;
    background-size: 18px;
    padding-right: 50px;
    border: 0px;
    color: #595959;
    outline: none;
    width: 100%;
    padding: 0 15px;
    cursor: pointer;
}

.form-control{
    height: calc(2em + 0.75rem + 2px);
}

.property-box{
    padding-left: 50px;
}

/* panel menu */
.panel-menu .sub_item li a {
    font-size: 15px
}

.panel-menu ul li.mb_signbtn a{
    display: inline-block;
    padding: 10px 30px 12px;
    color: #fff !important;
    background: #eba24a !important;
    border-radius: 5px;
}

.panel-menu ul li.mb_signbtn a:hover{
    background-color: #ae722a;
    color: #fff;
}

.menu_secfixed{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 7px 13px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 7px 13px 0 rgb(0 0 0 / 10%);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@media (min-width: 1200px){
    .menu_secfixed .heaeder_top_bar {
        display: none
    }
    .menu_secfixed .logo_sec {
        padding: 10px 20px 20px;
    }
    .menu_secfixed .logo_sec a img{
        max-width: 140px;
    }
    .menu_secfixed .desktop_menu_ul>li{
        padding: 20px 10px 20px;
    }
}

@media(max-width: 1199px){
    .header_outer, .menu_secfixed {
        height: 96px;
    }
    .menu_secfixed .logo_sec a img{
        max-width: 150px;
    }
}

@media(max-width:575px){
    .menu_secfixed .logo_sec a img{
        max-width: 120px;
    }
    .header_outer, .menu_secfixed{
        height: 75px;
    }
    .menu_secfixed .logo_sec {
        padding: 15px 15px 20px;
    }
}

/* Modal Popup */
.modal-dialog{
    margin-top: 100px;
    max-width: 694px !important;
    z-index: 99999;
}

.order-model .modal-dialog{
    max-width: 894px !important;
}

.modal.fade .modal-dialog{
    top: 48%;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.modal-content {
    border-radius: 0px;
    overflow: hidden;
    padding-bottom: 50px;
}

.modal-header {
    border-bottom: none;
}

.download-close{
    float: right;
    background: #eba24a;
    border-radius: 45px;
    border: 1px solid transparent;
    width: 46px;
    height: 46px;
    z-index: 99999;
    position: absolute;
    right: -6px;
    top: -8px;
    padding: 2px 0;
}

.download-close span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    line-height: 45px;
    padding: 5px 16px;
}

#letter5{
    text-align: center;
}

.letter_inner .heading {
    margin-bottom: 0px;
}

.heading h2 {
    font-size: 35px;
    line-height: 24px;
    color: #193d6f;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
}

.heading h2:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: linear-gradient(to right, #eba24a 0%, transparent 100%);
    z-index: 99;
}

#letter6 .tab-content, #letter5 .tab-content {
    padding: 0 50px;
}

.order-model form{
    display: block;
}

.order-model label {
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    color: #999;
    line-height: 24px;
    position: absolute;
    left: 34px;
    top: -12px;
    background: #fff;
    padding: 0 8px;
    z-index: 99;
}

#letter5 select, #letter5 input {
    margin-bottom: 15px;
    position: relative;
    color: #193d6f;
    resize: none;
    font-weight: 300;
    border: 0.5px solid #ccc;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    height: 40px;
    background: transparent;
    width: 100%;
    padding: 0 20px;
    border-radius: 3px;
    z-index: 9;
    box-shadow: none;
}

#letter5 input:focus {
    outline: none !important;
    border: 0.5px solid #eba24a;
    color: #193d6f;
}

.wrap {
    overflow: hidden;
    position: relative;
}

/* .wrap:after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #999;
    position: absolute;
    right: 12px;
    top: 9px;
    z-index: 1;
} */

.order-model .datepicker {
    position: relative;
}

.order-model .datepicker:after {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #999;
    position: absolute;
    right: 12px;
    top: 9px;
    z-index: 1;
}

.popup-btn a{
    background: #eba24a;
    color: #fff;
    padding: 12px 50px;
    border-radius: 5px;
}

.popup-btn{
    margin-top: 20px;
}

/* Our Hotels Page */
.hotel-slider{
    position: relative;
    background-image: url(../img/our-hotels/bread-banner2.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.hotel-slider2{
    position: relative;
    background-image: url(../img/our-hotels/bread-banner3.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.hotel-slider2.hotel-slider4{
    background-image: url(../img/our-hotels/breadbanner-about.jpg);
}

.hotel-slider2 .overlay{
    position: absolute;
    background: #111111b3;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.broad-about{
    padding: 80px 0;
}

.broad-about-content{
    padding: 0 20px 0 30px;
}

.broad-about-content p{
    color: #373737;
    font-size: 17px;
}

.hotel-feature{
    padding: 0 0 80px;
}

.hotel-fea-area{
    border-top: 1px solid #eba24a;
    border-bottom: 1px solid #eba24a;
    padding: 20px 0;
}

.hotel-ft-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.ft-name h2{
    font-size: 1.5rem;
}

.hotels-img{
    /* padding-bottom: 60px; */
}

.main-img{
    position: relative;
    overflow: hidden;
}

.main-img::before,
.side-img li::before {
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    height: 200%;
    left: -280px;
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 80px;
    z-index: 0; 
}

  .main-img::after,
  .side-img li::after {
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    height: 200%;
    left: 180%;
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 80px;
    z-index: 0; 
}

  .main-img:hover::before,
  .side-img li:hover::before {
    left: 180%;
    -webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1); 
}

  .main-img:hover::after,
  .side-img li:hover::after {
    left: -280px;
    -webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1); 
}

.main-img h2{
    font-size: 1.5rem;
    margin: 12px 0;
}

.main-img2{
    margin-bottom: 10px;
}

.side-img{
    float: right;
}

.side-img li{
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.side-img li:last-child{
    margin-bottom: 0;
}

.hotel-facilities{
    padding: 20px 0 70px; 
}

.comp-fac{
    background-color: #193d6f;
    padding: 35px;
}

.comp-fac h2{
    color: #eba24a;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 25px;
}

.comp-fac p{
    color: #ffffff;
    margin-bottom: 0;
    cursor: pointer;
}

.comp-fac p:hover{
    color: #eba24a;
}

.fac-aminities{
    background-color: #eba24a;
    padding: 35px;
    margin-bottom: 40px;
}

.fac-aminities h2{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 25px;
}

.fac-aminities p{
    margin-bottom: 0;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
}

.fac-aminities p:hover{
    color: #193d6f;
}

.other-fac{
    padding-left: 18px;
}

.other-fac h2{
    color: #eba24a;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 1.6rem;
}

.other-fac2{
    background: #193d6f;
    padding: 35px;
    min-height: 300px;
}

.other-fac2 p{
    color: #ffffff;
    margin-bottom: 0;
    cursor: pointer;
}

.other-fac2 p:hover{
    color: #eba24a;
}

.fac-aminities-iritty h2,
.other-fac3 h2{
    font-size: 1.8rem;
}

.other-fac3{
    min-height: 500px;
}

.fac-mainheader{
    color: #f1eeea;
    font-size: 150px;
    margin-bottom: 0;
}

.booknow-banner{
    padding-bottom: 30px;
}

.booknow-img{
    background-image: url(../img/our-hotels/footer-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px 80px 70px;
}

.booknow-img h3{
    color: #ffffff;
    margin-bottom: 55px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

.booknow-btns .booknow-btn1{
    color: #fff;
    border: 1px solid #eba24a;
    padding: 22px 50px;
    font-size: 22px;
    margin-right: 20px;
}

.booknow-btns .booknow-btn1:hover{
    background-color: #eba24a;
}

.booknow-btns .booknow-btn2{
    color: #fff;
    background: #eba24a;
    padding: 22px 50px;
    font-size: 22px;
    border: 1px solid #eba24a;
}

.booknow-btns .booknow-btn2:hover{
    border: 1px solid #eba24a;
    background: transparent;
}

/* contact us */
.contact-hotel{
    padding: 0 0 80px;
}

.contact-address{
    position: relative;
    width: 100%;
}

.contact-address .img{
    height: 380px;
}

.contact-address .img img{
    height: 100%;
    width: 100%;
}

.contact-address .address{
    position: absolute;
    bottom: -150px;
    background: #eba24a;
    padding: 20px 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.address-area{
    display: flex;
    flex: 0 0 50%;
    border-right: 1px solid #193d6f;
}

.address-area p{
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}

.address-area-chakkarakkal p{
    font-size: 15px;
}

.address-area svg{
    position: relative;
    top: 8px;
    height: 2rem;
    width: 2rem !important;
    color: #fff;
    margin-right: 10px;
}

.phone-area{
    flex: 0 0 50%;
    padding-left: 20px;
}

.phone-area a{
    color: #fff;
}

.phone-area svg{
    /* color: #193d6f; */
}

.phone-area ul{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.phone-area ul li{
    margin-right: 10px;
}

.phone-area ul li a{
    border: 1px solid #193d6f;
    padding: 3px 8px;
    border-radius: 5px;
}

.phone-area ul li:hover a{
    border: 1px solid #fff !important;
}

.phone-area ul li:hover svg{
    color: #0056b3;
}

.phone-area a:hover,
.phone-area a:hover svg{
    color: #0056b3 !important;
}

.contact-location{
    /* height: 380px; */
    height: 528px;
    filter: saturate(0.5);
}

.contact-location iframe{
    width: 100%;
    height: 100%;
}

.fac-mainheader.name{
    font-size: 110px;
}

/* nav tabs css */
.nav-tabs .nav-item{
    margin-bottom: 10px;
}

.nav-link{
    padding: 0;
}

/* About page css */
.bread-head{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bread-head h1{
    font-size: 70px;
    color: #fff;
}

.abt-area{
    padding: 140px 0 250px;
    position: relative;
}

.dotted-pattern{
    position: absolute;
    height: 322px;
    width: 322px;
    display: block;
    background: url(../img/about/11.png)center center no-repeat;
    right: -237px;
    bottom: 130px;
}

.circles-two{
    position: absolute;
    height: 180px;
    width: 180px;
    right: 90px;
    top: 80px;
}

.circles-two .c-1{
    position: absolute;
    width: 180px;
    height: 180px;
    background: #edf0f5;
    opacity: .5;
    border-radius: 50%;
}

.circles-two .c-2{
    position: absolute;
    left: -40px;
    top: auto;
    bottom: -30px;
    width: 120px;
    height: 120px;
    background: #edf0f5;
    opacity: .5;
    border-radius: 50%;
    z-index: 1;
}

.circles-two .c-3,
.circles-two .c-4{
    border-radius: 0;
}

.abt-area .text-column{
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
}

.abt-area .text-column .inner{
    position: relative;
    display: block;
    padding-top: 90px;
    padding-left: 40px;
    margin-top: -10px;
}

.sec-title{
    position: relative;
    margin-bottom: 30px;
}

.sec-title h1{
    position: relative;
    display: block;
    font-size: 48px;
    line-height: 1.3em;
    margin-bottom: 0;
}

.text-column .text{
    font-size: 16px;
    color: #8e949f;
    line-height: 1.6em;
    margin-bottom: 25px;
}

.text-column ul li{
    position: relative;
    display: block;
    color: #555;
    font-size: 16px;
    line-height: 1.5em;
    padding-left: 20px;
    margin: 0 0 7px;
}

.text-column ul li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    width: 10px;
    border-bottom: 2px solid #555;
}

.abt-area .image-column{
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
}

.abt-area .image-column .inner{
    position: relative;
    display: block;
    padding-right: 40px;
}

.dotted-pattern1{
    position: absolute;
    width: 250px;
    height: 264px;
    display: block;
    background: url(../img/about/10.png) center center no-repeat;
    top: 70px;
    left: 50px;
}

.abt-area .image-box{
    position: relative;
}

.abt-area .image-box .image{
    position: relative;
    display: block;
    float: right;
    width: 100%;
    max-width: 330px;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%), 0px 30px 30px 0px rgb(0 0 0 / 10%);
    z-index: 1;
    margin: 0;
}

.abt-area .image-box img{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.abt-area .image-box img{
    border: 5px solid #fff;
}

.abt-area .image-box .image:nth-child(2){
    position: absolute;
    max-width: 280px;
    top: 100%;
    left: 0;
    margin-top: -95px !important;
}

.abt-area .image-box .image:nth-child(3){
    position: absolute;
    max-width: 200px;
    top: 100%;
    left: 200px;
    margin-top: 90px !important;
}

/* fact section */
.fact-section{
    /* background: #1b1c1e; */
    background: #193d6f;
    padding: 140px 0 90px;
    position: relative;
}
.fact-section-group{
    padding: 80px 0 25px;
}

.fact-section .circles{
    position: absolute;
    width: 125px;
    height: 125px;
    right: 50px;
    top: 50px;
    opacity: .50;
}

.fact-section .circles .c-1{
    position: absolute;
    width: 125px;
    height: 125px;
    background: #edf0f5;
    opacity: .5;
    border-radius: 50%;
}

.fact-section .circles .c-2{
    position: absolute;
    left: -25px;
    top: 60px;
    width: 80px;
    height: 80px;
    background: #edf0f5;
    opacity: .5;
    border-radius: 50%;
    z-index: 1;
}

.fact-section .circles .c-3,
.fact-section .circles .c-4{
    border-radius: 0;
}

.fact-section .sec-title{
    margin-bottom: 80px;
    max-width: 700px;
}

.fact-section .sec-title h2{
    /* color: #fff; */
    color: #eba24a;
    position: relative;
    display: block;
    font-size: 48px;
    line-height: 1.3em;
    margin-bottom: 0;
}

.sec-title .lower-text{
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400;
    padding: 25px 0 0;
    color: rgba(255,255,255,.7);
}

.fact-section .facts-box{
    position: relative;
    z-index: 1;
}

.fact-block{
    position: relative;
    display: block;
    margin-bottom: 50px;
}

.fact-block .fact-inner{
    position: relative;
    display: block;
    padding-top: 20px;
    padding-left: 160px;
    min-height: 130px;
}

.fact-block .fact-inner .fact-count{
    /* background: rgba(255,255,255,.1); */
    background: rgb(139 157 166 / 10%);
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 130px;
    padding: 35px 10px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    line-height: 60px;
    border-radius: 45% 55% 70% 35%/45% 45% 55% 45%;
    box-shadow: 0px 30px 30px 0px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fact-block .fact-inner .fact-count h1{
    margin: 0;
    color: #fff;
}

.fact-block h4{
    position: relative;
    display: block;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
}

.fact-block .text{
    position: relative;
    display: block;
    line-height: 1.6em;
    color: rgba(255,255,255,.7);
    font-size: 15px;

}

.vision-text{
    margin-top: 25px;
}

.vision-text p{
    color: #fff;
}

/* Contact area */
.contact-section-one{
    padding: 100px 0;
    position: relative;
}

.info-col{
    position: relative;
    z-index: 1;
}

.info-col .inner{
    position: relative;
    display: block;
    max-width: 500px;
}

.info-col .u-text{
    position: relative;
    display: block;
    color: #1b1c1e;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0 0 55px;
}

.contact-section-one .info{
    position: relative;
}

.contact-section-one .info .info-block{
    position: relative;
    display: block;
    margin-bottom: 52px;
}

.contact-section-one .info .info-block .block-inner{
    position: relative;
    display: block;
    padding-top: 10px;
    padding-left: 146px;
    min-height: 114px;
}

.contact-section-one .info .info-block .icon-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 114px;
    height: 114px;
    padding: 27px 10px;
    text-align: center;
    /* background: #1b1c1e; */
    background: #193d6f;
    color: #fff;
    font-size: 40px;
    line-height: 60px;
    border-radius: 45% 55% 70% 35%/45% 45% 55% 45%;
    box-shadow: 0px 30px 30px 0px rgb(0 0 0 / 10%);
}

.contact-section-one .info .info-block h4{
    position: relative;
    display: block;
    font-size: 24px;
    margin-bottom: 15px;
    color: #1b1c1e;
}

.contact-section-one .info .info-block .text{
    position: relative;
    display: block;
    color: #555;
    line-height: 1.7em;
}

.contact-section-one .info .info-block .text a{
    color: #555;
    letter-spacing: 1px;
}

.contact-section-one .form-col{
    position: relative;
    margin-bottom: 50px;
}

.contact-section-one .form-box{
    position: relative;
    display: block;
    margin-top: -220px;
    padding: 70px 70px 40px;
    background: #fff;
    box-shadow: 0px 25px 25px 0px rgb(0 0 0 / 7%);
    z-index: 10;
    height: auto;
}

.contact-section-one .form-box h3{
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.contact-section-one .form-box .text{
    position: relative;
    display: block;
    color: #555;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0 0 40px;
}

.contact-section-one .form-box form{
    display: block;
}

.contact-section-one .form-box .form-group{
    margin-bottom: 30px;
}

.contact-section-one .form-box .form-group .form-control{
    position: relative;
    display: block;
    height: 52px;
    width: 100%;
    font-size: 16px;
    color: #25283a;
    line-height: 30px;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.contact-section-one .form-box .form-group textarea{
    height: 170px !important;
}

.contact-section-one .form-box .form-group input[type="text"]:focus,
.contact-section-one .form-box .form-group textarea:focus{
    border-color: #1b1c1e;
    box-shadow: none;
}

.apply_now_contact{
    border: 1px solid #eba24a;
    border-radius: 0;
    padding: 12px 65px;
    font-size: 17px;
}

.outlet-store{
    padding: 100px 0;
    background: #f7f4ec;
}

.outlet-head{
    margin-bottom: 50px;
}

.outlet-head h2{
    font-size: 2.6rem;
}

.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.085);
    border-radius: .4375rem;
    margin-bottom: 30px;
    transition: all .3s ease;
}

.outlet-store .card:hover{
    transform: translateY(-3px) !important;
    transition: all .3s ease;
}

.border-0 {
    border: 0 !important;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgb(0 0 0 / 3%), 0 0.275rem 1.25rem -0.0625rem rgb(0 0 0 / 5%) !important;
}

.card-img-top {
    border-top-left-radius: calc(.4375rem - 1px);
    border-top-right-radius: calc(.4375rem - 1px);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-body h6{
    font-size: 1.0625rem;
    color: #373f50;
    margin-bottom: 1.06rem;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.border-bottom {
    border-bottom: 1px solid #e3e9ef !important;
}

.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}

.pt-2, .py-2 {
    padding-top: .5rem !important;
}

.list-unstyled>li {
    margin-bottom: .4rem;
}

.media svg{
    font-size: 1.125rem !important;
    color: #eba24a !important;
    margin-top: .5rem !important;
    margin-bottom: 0;
}

.media-body{
    padding-left: 1rem;
}

.media-body span{
    font-size: .8125rem !important;
    color: #7d879c !important;
}

.media-body .text-heading{
    color: #373f50 !important;
    font-size: .875rem !important;
    display: block;
}

.mng-area{
    background-color: #f3f2ed;
    padding: 80px 0;
    position: relative;
}

.mng-head h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.team-block{
    position: relative;
    padding: 0 20px;
}

.team-block .inner-box{
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 50px;
}

.team-block .image-box {
    position: relative;
    display: block;
    background: #1b1c1e;
    overflow: hidden;
}

.team-block .image {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0
}

.team-block .image img {
    position: relative;
    display: block;
    width: 100%;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.team-block .info-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px;
}

.team-block .info-box .info-inner {
    position: relative;
    display: block;
    padding: 24px 20px;
    background: #fff;
    box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 10%);
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.team-block .info-box h4 {
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.team-block .info-box .designation {
    position: relative;
    display: block;
    color: #8e949f;
    line-height: 1.5em;
}

.team-block:hover .image img {
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: .80;
}

.team-block:hover .info-box .info-inner {
    background: #1b1c1e;
    color: #fff;
}

.team-block:hover .info-box .info-inner h4{
    color: #fff;
}

/* Faclilities page css */
.facilities-area{
    position: relative;
    padding: 100px 0;
    background: #f2f3f3;
}

.facility-head{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.facility-head h2{
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.inner-facility{
    position: relative;
    display: block;
    padding: 20px 0px 50px;
}

.inner-facility .image-box{
    position: relative;
    display: block;
    overflow: hidden;
}

.lower-box{
    position: relative;
    padding: 32px 35px 40px;
    display: block;
    background: #fff;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 7%);
    transition: all .4s ease;
}

.lower-box h4{
    margin-bottom: 15px;
}

.lower-box .text{
    position: relative;
    display: block;
    color: #555;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0 0 40px;
}

.lower-box .link-box{
    position: relative;
    display: block;
}

.theme-btn-facility{
    display: block;
}

.theme-btn-facility span{
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #1b1c1e;
    font-weight: 500;
    padding: 15px 40px;
    background: #edf0f5;
    border-radius: 0;
    z-index: 1;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.theme-btn-facility span:hover{
    color: #fff;
    background: #1b1c1e;
}

.facility-slider.owl-carousel .owl-dots{
    display: none !important
}

.facility-slider.owl-carousel .owl-nav{
    text-align: center;
}

.facility-slider.owl-carousel .owl-nav [class*=owl-]{
    color: #eba24a;
    border: 1px solid #eba24a;
    font-size: 12px;
    margin: 5px;
    padding: 12px 15px !important;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease;
}

.facility-slider.owl-carousel .owl-nav [class*=owl-]:hover{
    background: #eba24a;
    border: 1px solid #eba24a;
    color: #fff;
    transition: all .3s ease;
}

.facility-slider.owl-carousel .owl-nav [class*=owl-]:focus{
    outline: none;
}

.why-choose{
    padding: 100px 0;
    position: relative;
}

.choose-head{
    max-width: 620px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.choose-head h2{
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.choose-box{
    position: relative;
    margin-bottom: 30px;
    z-index: 5;
}

.choose-box .inner-box{
    position: relative;
    display: block;
    text-align: center;
    padding: 60px 30px 35px;
    background: #fff;
    box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 10%);
}

.choose-box .icon-box{
    position: relative;
    display: inline-block;
    font-size: 50px;
    height: 80px;
    line-height: 80px;
    width: 116px;
    margin-bottom: 28px;
}

.choose-box .icon-box .circle{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}

.choose-box .icon-box .circle::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 50px;
    background: #edf0f5;
    opacity: .5;
    border-radius: 50%;
}

.choose-box .icon-box .circle::after{
    content: '';
    position: absolute;
    right: 0;
    top: -10px;
    width: 80px;
    height: 80px;
    background: #edf0f5;
    opacity: .5;
    border-radius: 50%;
}

.choose-box h4{
    margin-bottom: 25px;
    text-transform: capitalize;
}

.choose-box .text{
    position: relative;
    display: block;
    color: #555;
    font-size: 16px;
    line-height: 1.7em;
}

/* Destini section */
.destini-section{
    position: relative;
    padding: 100px 0 140px;
    background: #edf0f5;
}

.dotted-pattern2{
    right: -180px;
    bottom: 200px;
    position: absolute;
    width: 340px;
    height: 322px;
    display: block;
    background: url(../img/about/6.png) center center no-repeat;
}

.tri-pattern{
    position: absolute;
    width: 285px;
    height: 294px;
    display: block;
    background: url(../img/about/tri-5.png) center center no-repeat;
    right: 30px;
    bottom: 10px;
    animation-name: rotateMe;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateMe {
    from {
        transform: rotate(0deg) scale(1)
    }

    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotateMe {
    from {
        transform: rotate(0deg) scale(1)
    }

    to {
        transform: rotate(360deg)
    }
}

@-moz-keyframes rotateMe {
    from {
        transform: rotate(0deg) scale(1)
    }

    to {
        transform: rotate(360deg)
    }
}

@-o-keyframes rotateMe {
    from {
        transform: rotate(0deg) scale(1)
    }

    to {
        transform: rotate(360deg)
    }
}

.destini-head{
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.destini-head h2{
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.destini-section .h-container{
    position: relative;
    display: block;
}

.destini-section .h-container::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    border-left: 1px solid #d0d0d0;
}

.destini-block{
    position: relative;
    margin-top: 30px;
}

.destini-block:first-child{
    margin-top: 0;
}

.destini-block .content-col{
    position: relative;
}

.destini-block .content-col .inner{
    position: relative;
    display: block;
    padding-right: 110px;
}

.destini-block .image-box{
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.destini-block .image-box::before{
    content: '';
    position: absolute;
    left: -95px;
    top: -70px;
    width: 226px;
    height: 226px;
    display: block;
    background: url(../img/about/13.png) center center no-repeat;
}

.destini-block .image-box::after{
    content: '';
    position: absolute;
    right: -131.5px;
    top: 50%;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    background: #1b1c1e;
    border-radius: 50%;
}

.destini-block .image-box .image{
    position: relative;
    display: block;
    box-shadow: 0px 25px 30px 0px rgb(0 0 0 / 15%);
}

.destini-block .image-box .image img{
    position: relative;
    display: block;
    width: 100%;
}

.destini-block h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.destini-block .lower-box .text{
    position: relative;
    line-height: 1.7em;
    color: #858990;
    margin: 0 0 15px;
}

.destini-block.alternate .content-col{
    order: 12;
}

.destini-block.alternate .empty-col{
    order: 0;
}

.destini-block.alternate .image-box::before{
    left: auto;
    top: -75px;
    right: -70px;
}

.destini-block.alternate .image-box::after{
    right: auto;
    left: -131.5px;
}

.destini-block.alternate .content-col .inner{
    padding-left: 110px;
    padding-right: 0;
}

.destini-block .lower-box{
    padding: 0;
    background: transparent;
    box-shadow: none;
}


/* News area */
.news-area{
    padding: 10px 0 70px;
    position: relative;
}

.news-head{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.news-block{
    position: relative;
    margin-bottom: 50px;
}

.news-block .inner-box{
    position: relative;
    display: block;
    background: #ffffff;
}

.news-block .image-box{
    position: relative;
    overflow: hidden;
}

.news-block .lower-box{
    position: relative;
    padding: 35px 35px 40px;
}

.news-block .post-meta{
    margin-bottom: 5px;
}

.news-block .lower-box .text{
    margin-bottom: 25px;
}

.news-block .link-box a{
    transition: all .3s ease;
}

.news-block .lower-box a .icon{
    margin-left: 2px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.news-block .link-box:hover a{
    color: #eba24a; 
}

.news-block .link-box:hover a .icon{
    opacity: 1;
    visibility: visible;
    color: #eba24a;
}


.news-slider.owl-carousel .owl-nav{
    text-align: center;
    display: block;
}

.news-slider.owl-carousel .owl-nav [class*=owl-]{
    color: #eba24a;
    border: 1px solid #eba24a;
    font-size: 12px;
    margin: 5px;
    padding: 12px 15px !important;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease;
}

.news-slider.owl-carousel .owl-nav [class*=owl-]:hover{
    background: #eba24a;
    border: 1px solid #eba24a;
    color: #fff;
    transition: all .3s ease;
}

.news-slider.owl-carousel .owl-nav [class*=owl-]:focus{
    outline: none;
}

.news-main{
    padding: 100px 0;
    position: relative;
}

.news-content{
    position: relative;
    display: block;
    margin-bottom: 50px;
    transition: all 0.3s ease;
}

.news-inner {
    position: relative;
    display: block;
    background: #ffffff;
    box-shadow: 0px 30px 30px 0px rgb(0 0 0 / 10%);
}

.news-img {
    position: relative;
    display: block;
    overflow: hidden;
}

.news-img img {
    position: relative;
    display: block;
}

.news-content .lower-box{
    position: relative;
    padding: 75px 35px 40px;
}

.news-content .lower-box h3{
    position: relative;
    display: block;
    font-size: 30px;
    color: #1b1c1e;
    line-height: 1.3em;
    margin-bottom: 20px;
}

.news-content .lower-box .text{
    position: relative;
    color: #8e949f;
    line-height: 1.65em;
    margin-bottom: 22px;
}

.side-news {
    padding: 40px 30px 50px;
    background: #ffffff;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 5%), 0px 20px 25px 0px rgb(0 0 0 / 3%);
    margin-bottom: 50px;
}

.sidenews-title {
    margin-bottom: 27px;
}

.sidenews-title h4 {
    position: relative;
    display: inline-block;
    font-size: 26px;
    line-height: 1.30em;
    color: #181b1f;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.side-news .post {
    position: relative;
    font-size: 14px;
    color: #777777;
    padding: 0px 0px 0px 110px;
    min-height: 90px;
    margin-bottom: 30px;
}

.side-news .post-thumb {
    background-position: center center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 90px;
    border-radius: 0;
}

.side-news .post-thumb1 {
    background-image: url(../img/news/02.jpg);
}

.side-news .post-thumb2 {
    background-image: url(../img/news/single-2.jpg);
}

.side-news .post-thumb3 {
    background-image: url(../img/news/news-image-1.jpg);
}

.side-news .post .info {
    padding-top: 3px;
    color: #8e949f;
    line-height: 24px;
    margin-bottom: 5px;
}

.side-news .post .text {
    font-size: 18px;
    line-height: 1.5em;
    color: #222222;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
}